@using BordClient.Models;

<h1>All Reviews:</h1>

<ol>
@foreach (Review review in Model)
{
  <ul>
    <li>ID: @review.ReviewId</li>
    <li>Date: @review.Title</li>
    <li>Condition: @review.Experience</li>
    <li>Location: @review.LearningCurve</li>
    <li>Username: @review.Suggestions</li>
    <li>Username: @review.SimilarGames</li>
  </ul>
  <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
  <br>
}
</ol>