@using BordClient.Models;

<h1>All Reviews:</h1>

<ol>
@foreach (Review review in Model)
{
  <ul>
    @* <li>ID: @report.ReportId</li> *@
    @* <li>Date: @review.Date</li>
    <li>Condition: @review.Condition</li>
    <li>Location: @review.Location</li>
    <li>Username: @review.Username</li> *@
  </ul>
  <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
  <br>
}
</ol>